zsh/secrets.zsh

result
Pictures
Desktop

.*history
.cache
.compose-cache
.config
dotfiles-NixOS/
.*auth
.gtk*
.hm-xsession
.kde
.lesshst
.local
.nix-channels
.nix-defexpr
.nix-profile
.pki
.ssh
.x*
.X*
.zcomp*
.zsh*
